.center{
	margin: 0 auto;
	float: none;
}

.gallery{
	#maincontainer {
		margin: 50px 0 20px 0;
	}
}

.page {
	#maincontainer {
		margin: 0 0 50px 0;
	}
}

/*listfloor*/
.properties {
	#outerafterheader {
		
		#afterheader {
			margin-bottom: 0;
			padding-bottom: 26px;
		}
		
		.noting {
			text-align: center;
			font-size: 12px;
		}
		
		.term_list_img {
			text-align: center;
			background: url(../images/pagetitle-line.png) no-repeat bottom;
			margin: 15px 0 55px 0;
			height: 235px;
			position: relative;
			
			img{
				position:absolute;
				top:0;
				left:50%;
				margin-left: - 205px;
				width: 410px;
				height: 227px;
				z-index: 1;
				
				&#properties_main{
					z-index: 2;					
				}
			}
			
			&.suite-apartments {
				margin-top: 5px;
			}
			
			&.vip-apartments{
				margin-top: 10px;
				height: 180px;
				img {
					margin-left: -226px;
					width: 452px;
					height: 146px;					
				}
			}	
			
			&.villas{
				height: 167px;
				img {
					margin-left: -167px;
					width: 335px;
					height: 130px;					
				}
			}
			
			&.townhouses{
				height: 160px;
				margin-top: 24px;
				
				img {
					margin-left: -112px;
					width: 225px;
					height: 138px;					
				}
			}	
		}
		
		.main-villas {
			.listfloor {
				display: none;
			}
		}
		
		.main-townhouses {
			.listfloor {
				display: none;
			}
		}
		
		.main-suite-apartments {
			#afterheader {
				padding-bottom: 7px;	
			}
		}
		
		.main-vip-apartments {
			#afterheader {
				padding-bottom: 7px;	
			}
		}
		
	}
	
	#outermain {
		padding-bottom: 50px;
		#maincontent {
			.three_fourth {
				text-align: center;
			}
			
			.description {
				
				h3 {
					font-size: 16px;
					text-transform:none;
					border-bottom: 3px solid #e5e1e1;
					padding-bottom: 20px;					
				}
				
				p {
					font-size: 14px;
				}
				
				a.button {
					margin-top: 20px;
					padding: 10px 20px;
					background: #57c5cf;
					font-size: 14px;
					font-family: 'Roboto Condensed', sans-serif; 
				}
			}
		}
	}
}


.listfloor {
	padding: 10px 0;
	
	a {
		display:inline-table;
		font-size: 14px;
		color: #bfbfbf;
		padding: 5px 10px;
		width: 85px; 
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		text-decoration: underline;
		 
		&:hover, &.active {
			color: $colormain;
			text-decoration: none;
		}
		
		&.soldout:hover{
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			background: #f2f2f2;
			color: $colorfocus;
		}
	}
}

.overview {
	.overviewhotel {
		position: relative;
		font-size: $basefontsize;
		width: pxToEm(900px, $basefontsize);
		height: pxToEm(206px, $basefontsize);
		margin: 0 auto;
		margin-bottom: 100px;
		
		.blockoverview {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			cursor: pointer;

			
			&.block1{
				top: pxToEm(0px, $basefontsize);
				left: pxToEm(16px, $basefontsize);
				height: pxToEm(100px, $basefontsize);
				width: pxToEm(110px, $basefontsize);				
			}
			
			&.block2{
				top: pxToEm(118px, $basefontsize);
				left: pxToEm(113px, $basefontsize);
				height: pxToEm(90px, $basefontsize);
				width: pxToEm(290px, $basefontsize);				
			}
			
			&.block4{
				top: pxToEm(26px, $basefontsize);
				left: pxToEm(668px, $basefontsize);
				height: pxToEm(105px, $basefontsize);
				width: pxToEm(220px, $basefontsize);				
			}
			
			&.block3{
				top: pxToEm(53px, $basefontsize);
				left: pxToEm(454px, $basefontsize);
				height: pxToEm(62px, $basefontsize);
				width: pxToEm(210px, $basefontsize);				
			}
		}
		
		img {
			position: absolute;
			top: 0;
			left: 0;			
			width: 100%;
			height: 100%;
			display: none;
			&.active {
				display: block;
			}			
			
			&#overvieimage-0 {
				display: block;	
			}
		}	
	}
}