.center{
	margin: 0 auto;
	float: none;
}

.gallery{
	#maincontainer {
		margin: 50px 0 20px 0;
	}
}

.page {
	#maincontainer {
		margin: 0 0 50px 0;
	}
}


/*listfloor*/
.properties {
	#outerafterheader {
		#afterheader {
			margin-bottom: 0;
		}
		
		.noting {
			text-align: center;
		}
		
		.term_list_img {
			text-align: center;
			background: url(../images/pagetitle-line.png) no-repeat bottom;
			margin: 10px 0 40px 0;
			height: 235px;
			position: relative;
			
			

			
			img{
				position:absolute;
				top:0;
				left:50%;
				margin-left: - 205px;
				width: 410px;
				height: 227px;
				z-index: 1;
				
				&#properties_main{
					z-index: 2;					
				}
			}
			
			&.vip-apartments{
				img {
					margin-left: -226px;
					width: 452px;
					height: 146px;					
				}
			}			
		}
	}
	
	#outermain {
		#maincontent {
			.three_fourth {
				text-align: center;
			}
		}
	}
}


.listfloor {
	padding: 10px 0;
	
	a {
		font-size: 14px;
		color: #bfbfbf;
		padding-left: 20px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		text-decoration: underline;
		 
		&:hover {
			color: $colormain;
		}
	}
}