.center{
	margin: 0 auto;
	float: none;
}

.gallery{
	#maincontainer {
		margin: 50px 0 20px 0;
	}
}

.page {
	#maincontainer {
		margin: 0 0 50px 0;
	}
}


/*listfloor*/
.properties {
	#outerafterheader {
		#afterheader {
			margin-bottom: 0;
		}
		
		.noting {
			text-align: center;
		}
		
		.term_list_img {
			text-align: center;
			background: url(../images/pagetitle-line.png) no-repeat bottom;
			margin: 10px 0 40px 0;
			height: 235px;
			position: relative;
			
			img{
				position:absolute;
				top:0;
				left:50%;
				margin-left: - 205px;
				width: 410px;
				height: 227px;
				z-index: 1;
				
				&#properties_main{
					z-index: 2;					
				}
			}
			
			&.vip-apartments{
				height: 180px;
				img {
					margin-left: -226px;
					width: 452px;
					height: 146px;					
				}
			}	
			
			&.villas{
				height: 180px;
				img {
					margin-left: -167px;
					width: 335px;
					height: 154px;					
				}
			}
			
			&.townhouses{
				height: 160px;
				img {
					margin-left: -112px;
					width: 225px;
					height: 138px;					
				}
			}	
		}
	}
	
	#outermain {
		padding-bottom: 50px;
		#maincontent {
			.three_fourth {
				text-align: center;
			}
			
			.description {
				
				h3 {
					font-size: 16px;
					text-transform:none;
					border-bottom: 3px solid #e5e1e1;
					padding-bottom: 20px;					
				}
				
				p {
					font-size: 14px;
				}
				
				a.button {
					margin-top: 20px;
					padding: 10px 20px;
					background: #57c5cf;
					font-size: 14px;
					font-family: 'Roboto Condensed', sans-serif; 
				}
			}
		}
	}
}


.listfloor {
	padding: 10px 0;
	
	a {
		display:inline-table;
		font-size: 14px;
		color: #bfbfbf;
		padding: 5px 10px;
		width: 85px; 
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		text-decoration: underline;
		 
		&:hover, &.active {
			color: $colormain;
			text-decoration: none;
		}
		
		&.soldout:hover{
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			background: #f2f2f2;
			color: $colorfocus;
		}
	}
}