@media only screen and (min-width: 1172px) and (max-width: 1192px) {
  #topnav{
   display:table;
   margin:0 auto;
   float:none; 
  }
  .sf-menu a{
    padding: 0 30px;
  }
}
@media only screen and (min-width: 1155px) and (max-width: 1172px) {
  #topnav{
   display:table;
   margin:0 auto;
   float:none; 
  }
  .sf-menu a{
    padding: 0 29px;
  }
}
@media only screen and (min-width: 1146px) and (max-width: 1155px) {
  #topnav{
   display:table;
   margin:0 auto;
   float:none; 
  }
  .sf-menu a{
    padding: 0 27px;
  }
}
@media only screen and (min-width: 1119px) and (max-width: 1146px) {
  #topnav{
   display:table;
   margin:0 auto;
   float:none; 
  }
  .sf-menu a{
    padding: 0 27px;
  }
}
@media only screen and (min-width: 1083px) and (max-width: 1119px) {
  #topnav{
   display:table;
   margin:0 auto;
   float:none; 
  }
  .sf-menu a{
    padding: 0 25px;
  }
}

@media only screen and (min-width: 1049px) and (max-width: 1083px) {
  #topnav{
   display:table;
   margin:0 auto;
   float:none; 
  }
  .sf-menu a{
    padding: 0 23px;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1049px) {
  #topnav{
   display:table;
   margin:0 auto;
   float:none; 
  }
  .sf-menu a{
    padding: 0 23px;
font-size: 13px;
  }
}
@media only screen and (min-width: 926px) and (max-width: 980px) {
  #topnav{
   display:table;
   margin:0 auto;
   float:none; 
  }
  .sf-menu a{
    padding: 0 20px;
font-size: 13px;
  }
}

@media only screen and (min-width: 872px) and (max-width: 926px) {
  #topnav{
   display:table;
   margin:0 auto;
   float:none; 
  }
  .sf-menu a{
    padding: 0 17px;
    font-size: 13px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 872px) {
  #topnav{
   display:table;
   margin:0 auto;
   float:none; 
  }
  .sf-menu a{
    padding: 0 11px;
    font-size: 13px;
  }
}